Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [8]:

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [21]:

my_l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_s = pd.Series(my_l)

print(my_s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [23]:
data = {'name':['alice','bod','Claire'],'age':[25,30,27],'Gender':['Female','male','Female']}
df= pd.DataFrame(data)
print(df)

     name  age  Gender
0   alice   25  Female
1     bod   30    male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

ANS = Series is a type of list in pandas which can take integer values, string values, double values and more. But in Pandas Series we return an object in the form of list, having index starting from 0 to n, Where n is the length of values in series.

Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data.

In [25]:
aut = ['lilesh', 'vishal', 'Arpit', 'Jyoti']
#Creating a Series by passing list variable to Series() function
auth_series = pd.Series(aut)
#Printing Series
print(auth_series)

0    lilesh
1    vishal
2     Arpit
3     Jyoti
dtype: object

In [26]:
print(type(auth_series))

<class 'pandas.core.series.Series'>

In [27]:
data = {'name':['alice','bod','Claire'],'age':[25,30,27],'Gender':['Female','male','Female']}
df= pd.DataFrame(data)
print(df)

     name  age  Gender
0   alice   25  Female
1     bod   30    male
2  Claire   27  Female

In [28]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

ANS = head(): This function returns the first n rows of the DataFrame. It can be useful when you want to quickly view the beginning of the data.

tail(): This function returns the last n rows of the DataFrame. It can be useful when you want to quickly view the end of the data.

describe(): This function computes various summary statistics of the DataFrame, including count, mean, standard deviation, minimum, maximum, and quartiles. It can be useful for getting a quick overview of the data.

groupby(): This function groups the DataFrame by one or more columns and applies a function to each group. It can be useful for analyzing data by groups.

sort_values(): This function sorts the DataFrame by one or more columns. It can be useful for sorting the data in ascending or descending order.

fillna(): This function fills missing values in the DataFrame with a specified value. It can be useful for cleaning data with missing values.

In [29]:
data = {'Name': ['Alice', 'Bob', 'Claire', 'David', 'Eva', 'Frank'],
        'Age': [25, 30, 27, 28, 32, 35],
        'Salary': [50000, 60000, 55000, 65000, 70000, 75000],
        'Department': ['Sales', 'Marketing', 'Sales', 'Engineering', 'Marketing', 'Engineering']}
df = pd.DataFrame(data)

# group data by department and compute average salary
avg_salary = df.groupby('Department')['Salary'].mean()

print(avg_salary)

Department
Engineering    70000.0
Marketing      65000.0
Sales          52500.0
Name: Salary, dtype: float64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

ANS = Both Series and DataFrame are mutable in nature. This means that you can modify their values, add or remove rows and columns, and change their properties in-place

panel no longer recommended for use

Q7. Create a DataFrame using multiple Series. Explain with an example.

ANS =we can pass a dictionary of Series to the pd.DataFrame() function. The keys of the dictionary will become the column names of the DataFrame, and the values will become the columns themselves.

In [30]:
name = pd.Series(['Alice', 'Bob', 'Claire'])
age = pd.Series([25, 30, 27])
gender = pd.Series(['Female', 'Male', 'Female'])
data = {'Name': name, 'Age': age, 'Gender': gender}

# create a DataFrame from the dictionary of Series
df = pd.DataFrame(data)

# print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female