Q1. List any five functions of the pandas library with execution.

In [2]:
import pandas as pd

# Read CSV file into DataFrame
df = pd.read_csv('my_file.txt')

In [3]:
import pandas as pd

# Read CSV file into DataFrame
df = pd.read_csv('my_file.txt')
# Display 
print(df.head())

   Line 1
0  Line 2
1  Line 3

In [1]:
import pandas as pd
df=pd.read_csv('my_file.txt')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Line 1  2 non-null      object
dtypes: object(1)
memory usage: 144.0+ bytes
None

In [ ]:

import pandas as pd

# Read CSV file into DataFrame
df = pd.read_csv('my_file.csv')
# Group DataFrame by 'column_name' and calculate mean of 'another_column'
grouped_df = df.groupby('column_name')['another_column'].mean()

# Display the resulting DataFrame
print(grouped_df)

In [ ]:
import pandas as pd

# Read CSV file into DataFrame
df = pd.read_csv('my_file.csv')

# Create pivot table
pivot_table = pd.pivot_table(df, values='column_name', index='index_column', columns='column_to_group', aggfunc=np.sum)

# Display the resulting DataFrame
print(pivot_table)

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [3]:
import pandas as pd 
def reindex_df(df):
    new_index = pd.index(range(1,2*len(df)+1,2))
    return df.set_index(new_index)

In [ ]:
new_df = reindex_df(df)

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [1]:
import pandas as pd

def calculate_sum_of_first_three(df):
    values_column = df['Values']
    sum_of_first_three = sum(values_column[:3])
    print("Sum of the first three values:", sum_of_first_three)

In [2]:
import pandas as pd

# Creating the DataFrame with the 'Values' column
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Calling the function to calculate and print the sum of the first three values
calculate_sum_of_first_three(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [4]:
import pandas as pd

def calculate_word_count(df):
    df['Word_Count'] = df['Text'].str.split().str.len()

# Example usage:
df = pd.DataFrame({'Text': ['Hello world', 'Python is great', 'Data analysis']})

calculate_word_count(df)
print(df)

              Text  Word_Count
0      Hello world           2
1  Python is great           3
2    Data analysis           2

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size():

The DataFrame.size() function returns the total number of elements in the DataFrame. It calculates the size by multiplying the number of rows by the number of columns.
The returned value represents the total number of cells or elements in the DataFrame, including both empty and non-empty cells.
The size() function does not take any arguments and returns a single integer value.
DataFrame.shape():

The DataFrame.shape() function returns a tuple that represents the dimensions of the DataFrame.
It returns the number of rows as the first element and the number of columns as the second element in the tuple.
The shape() function does not take any arguments.
The returned shape represents the structure or layout of the DataFrame, providing information about the number of rows and columns.

Q6. Which function of pandas do we use to read an excel file?

In [ ]:
import pandas as pd

# Read the Excel file into a DataFrame
df = pd.read_excel('filename.xlsx')

# Perform operations on the DataFrame

# Print the DataFrame
print(df)

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [6]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]

# Example usage:
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com', 'bob.johnson@example.com']})

extract_username(df)
print(df)

                     Email     Username
0     john.doe@example.com     john.doe
1   jane.smith@example.com   jane.smith
2  bob.johnson@example.com  bob.johnson

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2


Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [1]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example usage:
# Create the DataFrame
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

# Call the function to select rows
selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [2]:
import pandas as pd

def calculate_stats(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()
    return mean_value, median_value, std_value

# Example usage:
# Create the DataFrame
data = {'Values': [10, 15, 12, 18, 20]}
df = pd.DataFrame(data)

# Call the function to calculate statistics
mean, median, std = calculate_stats(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 15.0
Median: 15.0
Standard Deviation: 4.123105625617661

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [3]:
import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Example usage:
# Create the DataFrame
data = {'Date': ['2023-06-01', '2023-06-02', '2023-06-03', '2023-06-04', '2023-06-05', '2023-06-06', '2023-06-07', '2023-06-08'],
        'Sales': [10, 15, 12, 18, 20, 17, 14, 21]}
df = pd.DataFrame(data)

# Call the function to calculate moving average
df = calculate_moving_average(df)
print(df)

         Date  Sales  MovingAverage
0  2023-06-01     10      10.000000
1  2023-06-02     15      12.500000
2  2023-06-03     12      12.333333
3  2023-06-04     18      13.750000
4  2023-06-05     20      15.000000
5  2023-06-06     17      15.333333
6  2023-06-07     14      15.142857
7  2023-06-08     21      16.714286

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday

In [4]:
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = pd.to_datetime(df['Date']).dt.day_name()
    return df

# Example usage:
# Create the DataFrame
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

# Call the function to add weekday column
df = add_weekday_column(df)
print(df)

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [5]:
import pandas as pd

def select_rows_between_dates(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_rows = df.loc[mask]
    return selected_rows

# Example usage:
# Create the DataFrame
data = {'Date': ['2023-01-01', '2023-01-15', '2023-01-20', '2023-02-01', '2023-02-15']}
df = pd.DataFrame(data)

# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Call the function to select rows between dates
selected_df = select_rows_between_dates(df)
print(selected_df)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-20