Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of data that is organized in a structured way to allow efficient retrieval, storage, and management of data. Databases can be used to store a variety of data, such as customer information, financial transactions, inventory, and more. They are used in various industries and applications, including e-commerce, healthcare, finance, and education.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two main types of databases, and they differ in how they store and retrieve data.

SQL databases are relational databases that use tables to store data. They follow a strict schema, meaning that the structure of the data must be defined before it can be stored. SQL databases use a standardized language, SQL, to manipulate and retrieve data. SQL databases are known for their ACID (Atomicity, Consistency, Isolation, Durability) compliance, which ensures data consistency and reliability. Popular examples of SQL databases include MySQL, Oracle, and PostgreSQL.

On the other hand, NoSQL databases are non-relational databases that store data in a flexible, non-tabular format. They can store unstructured and semi-structured data, such as JSON documents or key-value pairs. NoSQL databases are designed to handle large volumes of data, and they are highly scalable and can handle rapid changes to data structure. NoSQL databases are often used in big data and real-time web applications. Examples of NoSQL databases include MongoDB, Cassandra, and Couchbase.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, and it is a set of SQL commands used to define and modify the structure of a database. DDL commands are used to create, alter, and delete database objects such as tables, indexes, and views.

1.CREATE: The CREATE command is used to create new database objects such as tables, indexes, and views. For example, the following SQL statement creates a new table called "customers" with columns for customer ID, name, and email address:

CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    email VARCHAR(50) UNIQUE
);

2.DROP: The DROP command is used to delete an existing database object, such as a table or an index. For example, the following SQL statement drops the "customers" table:

DROP TABLE customers;

ALTER: The ALTER command is used to modify the structure of an existing database object. It can be used to add or remove columns, change data types, and modify constraints. For example, the following SQL statement adds a new column called "phone_number" to the "customers" table:

ALTER TABLE customers
ADD phone_number VARCHAR(20);

3 TRUNCATE: The TRUNCATE command is used to delete all the data in a table, while keeping the structure of the table intact. It is a faster way to delete data from a table compared to the DELETE command, which deletes data row by row. For example, the following SQL statement truncates the "customers" table:

TRUNCATE TABLE customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, and it is a set of SQL commands used to manage the data within a database. DML commands are used to insert, update, and delete data in tables.

INSERT: The INSERT command is used to add new rows of data to a table. For example, the following SQL statement inserts a new row into the "customers" table:

INSERT INTO customers (customer_id, name, email)
VALUES (1, 'John Smith', 'john.smith@example.com');

UPDATE: The UPDATE command is used to modify existing data in a table. For example, the following SQL statement updates the email address of the customer with a customer ID of 1:

UPDATE customers
SET email = 'new.email@example.com'
WHERE customer_id = 1;

DELETE: The DELETE command is used to remove one or more rows from a table. For example, the following SQL statement deletes the customer with a customer ID of 1:

DELETE FROM customers
WHERE customer_id = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, and it is a set of SQL commands used to retrieve and manipulate data stored in a database. DQL commands are used to retrieve data from one or more tables, and the most commonly used DQL command is SELECT.

SELECT command is used to retrieve data from one or more tables in a database. Here is an example of a SELECT statement:

SELECT customer_id, name, email
FROM customers
WHERE email LIKE '%@example.com';

This statement retrieves the customer ID, name, and email address from the "customers" table where the email address ends with "@example.com".

SELECT specifies the columns that we want to retrieve. In this case, we want to retrieve the customer ID, name, and email columns.
FROM specifies the table from which we want to retrieve the data. In this case, we want to retrieve the data from the "customers" table.
WHERE specifies the conditions that must be met for a row to be retrieved. In this case, we want to retrieve only the rows where the email address ends with "@example.com"

Q5. Explain Primary Key and Foreign Key.

Primary key and foreign key are two important concepts in relational database design. They are used to establish relationships between tables and ensure data integrity.

A primary key is a column or a set of columns in a table that uniquely identifies each row in the table. It is used to enforce data uniqueness and ensure that each row can be identified and accessed efficiently. Primary keys can be composed of one or more columns, and they must be unique, non-null, and immutable.

For example, in a table of customers, the customer ID column could be designated as the primary key, as each customer has a unique ID number that can be used to identify them.

A foreign key is a column in a table that refers to the primary key of another table. It is used to establish a relationship between two tables, where the foreign key in one table refers to the primary key in another table.

For example, in a table of orders, there may be a foreign key that refers to the customer ID in the customers table. This foreign key would ensure that each order is associated with a valid customer, and it would allow us to retrieve data from both tables in a single query.

Foreign keys can be used to enforce referential integrity, which means that they ensure that the values in the foreign key column always refer to valid primary keys in the referenced table. If a foreign key references a non-existent primary key, the database will prevent the operation from occurring.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# establish a connection to the MySQL server
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object to interact with the database
mycursor = mydb.cursor()

# execute a query
mycursor.execute("SELECT * FROM customers")

# retrieve the results
myresult = mycursor.fetchall()

# display the results
for row in myresult:
  print(row)

In the code above, we first import the mysql.connector library to establish a connection to a MySQL server. We then use the connect() method to connect to the server by specifying the host, user, password, and database parameters.

Once the connection is established, we create a cursor object using the cursor() method. The cursor object is used to execute SQL statements and interact with the database.

We then execute a query using the execute() method of the cursor object. In this case, we execute a simple SELECT statement to retrieve all rows from the customers table.

Finally, we retrieve the results using the fetchall() method, which returns all rows as a list of tuples. We then display the results using a for loop.

Q7. Give the order of execution of SQL clauses in an SQL query.